{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="column">
        <!-- <h1>SEARCH</h1> -->

        <form id="searchForm" action="{{ url_for('index') }}" method="post">
            <label for="url">Enter url:</label>
            <input type="text" id="url" placeholder="Enter URL" name="url" required>
            <button class="btn btn-outline-success my-1 my-sm-2" value="submit" type="submit">Search</button>
            
        </form>        
        
    </div>
        
    <div class="column" style="background-color:#bbbbbb08;">

        <!-- {% if latest_info %}
            <p>Last updated on {{ latest_info.updated_on }} by {{ latest_info.author }}</p>
        {% endif %} -->
    
        {% for items in url_s %}
            <details style="max-height: 500px; overflow-y: auto;">
                <h3>Sub URL's</h3>
                <summary>{{ items.url }}</summary>
                {% for item in main_urls %}
                    <div>
                        <p>{{item.url }}</p>
                    </div>
                {% endfor %}
            </details>
        {% endfor %}

        <br>
        <table border="2" class="styled-table" id="home-table">
            <!-- <h3>Home URL</h3> -->
            <thead>
                <tr>
                    <th>Home URL</th>
                    <th>DateTime</th>
                </tr>
            </thead>
            <tbody>
                {% for item in url_s %}
                    <tr>
                        <td>{{ item.url }}</td>
                        <td contenteditable='true'>{{ item.date_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
{% endblock content %}
