<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title>search url</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
      
      <div class="main">
        <div class="menu">
          <h4 id="logo">Data Collection</h4>
          <a href="/home">Add URL</a>
          <a href="/stored">Fetch</a>
          <a href="/info">View</a>
          <a href="/informations">Scrape</a>
          <h4 id="logo">Data Analysis<h4>
          <a href="/keyword">Keyword</a>
          <a href="/overview">OverView</a> 
        </div>
      </div>
        <div class="body1">
          <h1>Real-time Web Scraper for Tracking Trending Topics and News Articles</h1>
          {% block content %}{% endblock %} 
        </div>
      
        
    </body>
</html>