{% extends "layout.html" %}
{% block content %}

<div class="search">
    <form id="searchForm" align="center">
        <label for="keyword">Enter Keyword:</label>
        <input type="text" id="keyword" name="keyword">
        <button class="btn btn-outline-success my-1 my-sm-2" type="submit">Search</button>
    </form>
</div>


<div id="searchResults"></div>

<script>
    jQuery(document).ready(function($) {
        // Your jQuery code here
        $('#searchForm').submit(function(event) {
            event.preventDefault();
            var keyword = $('#keyword').val().trim();
            console.log(keyword);

            $.ajax({
                url: '/search',
                type: 'POST',
                data: { keyword: keyword },
                success: function(response) {
                    displaySearchResults(response);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });

        function displaySearchResults(results) {
            var searchResultsDiv = $('#searchResults');
            searchResultsDiv.empty(); // Clear previous results

            var count = results.length; // Count the number of articles

            // Count unique domains
            var uniqueDomains = {};
            for (var i = 0; i < count; i++) {
                var domain = getDomain(results[i].url);
                uniqueDomains[domain] = true;

                // Extract and print date and time
                // var updatedOn = results[i].updated_on;
                // var dateRange = formatDate(updatedOn);

                // console.log("Date and Time from Result:", dateRange);
                // console.log("Date and Time from Result:", updatedOn);

                // Extract and print date range
                var updatedOn = new Date(results[i].updated_on);
                var startDate = formatDate(updatedOn);
                var endDate = formatDate(new Date()); // Current date/time
                // var dateRange = endDate + ' - IST ';

                var dateRange = startDate + ' - ' + endDate;
                console.log("Date Range from Result:", dateRange);


            }
            var uniqueCount = Object.keys(uniqueDomains).length;

            // Update the count in the designated <div>
            $('.column[style="background-color:#aaaaaa50;"] h2').text(count);
            $('.column[style="background-color:#aaaaaa52;"] h2').text(uniqueCount);
            $('.column[style="background-color:#aaaaaa51;"] h2').text(dateRange);


            if (count === 0) {
                searchResultsDiv.append('<p>No Data found.</p>');
            } 
            // else {
            //     // Display each search result
            //     $.each(results, function(index, result) {
            //         searchResultsDiv.append('<h4><a href="' + result.url + '">' + result.url + '</a></h4>');
            //     });
            // }
        }

        function getDomain(url) {
            // Extract domain from the URL
            var domain;
            if (url.indexOf("://") > -1) {
                domain = url.split('/')[2];
            } else {
                domain = url.split('/')[0];
            }
            // Find and remove port number
            domain = domain.split(':')[0];
            return domain;
        }
        function formatDate(dateTimeString) {
            // Format date as "dd/mm/yyyy - dd/mm/yyyy"
            var dateTime = new Date(dateTimeString);
            var day = dateTime.getDate();
            var month = dateTime.getMonth() + 1;
            var year = dateTime.getFullYear();
            var hours = dateTime.getHours();
            var minutes = dateTime.getMinutes();
            var formattedDateTime = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + year + ' ' + (hours < 10 ? '0' : '') + hours + ':' + (minutes < 10 ? '0' : '') + minutes;
            return formattedDateTime;
        }


    });
</script>


<div class="row">
  <div class="column" style="background-color:#aaaaaa50;">
    <h4>Total URL</h4>
    <h2>...</h2>
  </div>
  <div class="column" style="background-color:#aaaaaa51;">
    <h4>Date Range</h4>
    <h2>...</h2>
  </div>
  <div class="column" style="background-color:#aaaaaa52;">
    <h4>Unique URL</h4>
    <h2>...</h2>
  </div>
</div>

{% endblock content %}