{% extends "layout.html" %}
{% block content %}
<!-- <div class="container" id="History">
    <h1>Stored URLs</h1>
    <ul>
        {% for item in data %}
            <li><b>[URL: </b>{{ item.url }}<b>]  [KEYWORD:</b> {{ item.keyword }}<b>] [DateTime: </b>{{item.date_time}}]</li>
        {% endfor %}
    </ul>
</div> -->
<table border="2" class="styled-table">
    <h2>Stored URLs</h2>
    <thead>
        <tr>
            <th>URL</th>
            <th>DateTime</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.url }}</td>
                <td>{{ item.date_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
